<div
  class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4"
>
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-800">
        About
      </h1>
      <p class="font-normal text-base leading-6 text-gray-600">
        Znews is an automated news aggregator, based upon the Express.js/Angular
        tech stack. Under the hood, it uses either Puppeteer to access Web pages
        from which to scrap news, or it directly contacts APIs to do so.
      </p>
    </div>
  </div>
</div>
