<!--Article-->
<div style="margin: 16px" *ngIf="news" class="lg:max-w-full">
  <div class="max-w-sm w-full lg:max-w-full lg:flex">
    <div
      class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t lg:rounded-l text-center overflow-hidden"
      [style]="
        'background-image: url(\'' +
        getImageURLPrefix() +
        news.images[0] +
        '\')'
      "
      *ngIf="news.images.length > 0"
    ></div>
    <div
      class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
    >
      <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">
          {{ news.title }}
        </div>
        <p class="text-gray-700 text-base" *ngIf="news.description != ''">
          {{ news.description }}
        </p>
      </div>
      <div class="flex items-center">
        <div class="text-sm">
          <p class="text-gray-900 leading-none">{{ news.authors }}</p>
          <p class="text-gray-600">Fetched {{ news.createdAt | date }}</p>
          <ng-container *ngIf="news.source">
            <a [href]="news.source.url" class="text-gray-400">{{
              news.source.name
            }}</a>
          </ng-container>
          <p class="text-gray-400 leading-none">{{ news.tags.join(", ") }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
